/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: left;
}
.section-heading {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/hero-bg-retina.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero-heading {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10vh 0 10vh;
}
.hero-span {
    color: #CBD5E0;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.product {
  border-bottom: 1px solid #E2E8F0;
}

/* More to come
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.comingsoon {
  background-color: #EDF2F7;
  text-align: center;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  background-color: #000000;
  color: #fff;
  padding: 8rem 0 7rem;
  text-align: center;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .product {
    padding: 16rem 0 14rem;
  }
  .footer {
    padding: 5rem 0 3rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .product {
    padding: 22rem 0;
  }
}
